.login_box {
    background-color: #764BA2;
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2.9px 5.8px 5.8px hsl(0deg 0% 0% / 0.41);
}

input[type="email"]::placeholder {
    color: #000000;
}

input[type="password"]::placeholder {
    color: #000000;
}

.btn_login {
    background-color: #ffc400;
    padding: 4px 20px;
    color: #000000;
    font-weight: 600;
    border: none;
    margin-top: 15px;
    box-shadow: -2.9px 5.8px 5.8px hsl(0deg 0% 0% / 0.41);
    border: 1px solid #ffffff4f;
    border-radius: 5px;
}

#myText {
    border-radius: 50px;
    outline: none;
    background-color: #ffffff;
    border: none;
    box-shadow: none;
    color: #000000;
    position: relative;
}
.login_img {

  padding-top: 70px;
}
.eye_icon {
    position: absolute;
    bottom: 90px;
    right: 30px;
}
@media  (max-width: 768px) {
    .login_img {
        display: none;
    }
    .login_box {
        width: 80%;
    }
}

@media  (max-width: 425px) {
    .login_img {
        display: none;
    }
    .login_box {
        width: 100%;
    }
}

