.reg_form {
    background-color: #764BA2;
    margin: 0 auto;
    padding: 20px 20px;
    width: 50%;
    box-shadow: 2.9px 5.8px 5.8px hsl(0deg 0% 0% / 0.41);
    line-height: 2.1;
    position: relative;
}

.btn_regis {
    background-color: #ffc400;
    padding: 4px 20px;
    color: #000000;
    font-weight: 600;
    border: none;
    margin-top: 15px;
    box-shadow: -2.9px 5.8px 5.8px hsl(0deg 0% 0% / 0.41);
    border: 1px solid #ffffff4f;
}
input[type="text"]::placeholder {
    color: #000000;
}
input[type="number"]::placeholder {
    color: #000000;
}

.eyeIcon {
    position: absolute;
    bottom: 150px;
    right: 30px;
}

.eyeIcon_Con {
    position: absolute;
    bottom: 80px;
    right: 30px;
}

@media (max-width: 768px) {
    .reg_form {
        width: 80%;
    }
}
@media (max-width: 425px) {
    .reg_form {
        width: 100%;
    }
}
